   "email": {
    "enabled": {{ _seerr_cfg_agents_email_enabled.raw | lower }},
    "options": {
     "userEmailRequired": {{ _seerr_cfg_agents_email_user_email_required.raw | lower }},
     "emailFrom": "{{ _seerr_cfg_agents_email_email_from.raw }}",
     "smtpHost": "{{ _seerr_cfg_agents_email_smtp_host.raw }}",
     "smtpPort": {{ _seerr_cfg_agents_email_smtp_port.raw }},
     "secure": {{ _seerr_cfg_agents_email_secure.raw | lower }},
     "ignoreTls": {{ _seerr_cfg_agents_email_ignore_tls.raw | lower }},
     "requireTls": {{ _seerr_cfg_agents_email_require_tls.raw | lower }},
     "authUser": "{{ _seerr_cfg_agents_email_auth_user.raw }}",
     "authPass": "{{ _seerr_cfg_agents_email_auth_pass.raw }}",
     "allowSelfSigned": {{ _seerr_cfg_agents_email_allow_self_signed.raw | lower }},
     "senderName": "{{ _seerr_cfg_agents_email_sender_name.raw }}",
     "pgpPrivateKey": "{{ _seerr_cfg_agents_email_pgp_private_key.raw }}",
     "pgpPassword": "{{ _seerr_cfg_agents_email_pgp_password.raw }}"
    }
   },