   "gotify": {
    "enabled": {{ _seerr_cfg_agents_gotify_enabled.raw | lower }},
    "types": {{ _seerr_cfg_agents_gotify_types.raw }},
    "options": {
     "url": "{{ _seerr_cfg_agents_gotify_url.raw }}",
     "token": "{{ _seerr_cfg_agents_gotify_token.raw }}",
     "priority": {{ _seerr_cfg_agents_gotify_priority.raw }}
    }
   },