   "ntfy": {
    "enabled": {{ _seerr_cfg_agents_ntfy_enabled.raw | lower }},
    "types": {{ _seerr_cfg_agents_ntfy_types.raw }},
    "options": {
     "url": "{{ _seerr_cfg_agents_ntfy_url.raw }}",
     "topic": "{{ _seerr_cfg_agents_ntfy_topic.raw }}",
     "authMethodUsernamePassword": {{ _seerr_cfg_agents_ntfy_auth_method_username_password.raw | lower }},
     "username": "{{ _seerr_cfg_agents_ntfy_username.raw }}",
     "password": "{{ _seerr_cfg_agents_ntfy_password.raw }}",
     "authMethodToken": {{ _seerr_cfg_agents_ntfy_auth_method_token.raw | lower }},
     "token": "{{ _seerr_cfg_agents_ntfy_token.raw }}"
    }
   }