   "slack": {
    "enabled": {{ _seerr_cfg_agents_slack_enabled.raw | lower }},
    "types": {{ _seerr_cfg_agents_slack_types.raw }},
    "options": {
     "webhookUrl": "{{ _seerr_cfg_agents_slack_webhook_url.raw }}"
    }
   },