   "webhook": {
    "enabled": {{ _seerr_cfg_agents_webhook_enabled.raw | lower }},
    "types": {{ _seerr_cfg_agents_webhook_types.raw }},
    "options": {
     "webhookUrl": "{{ _seerr_cfg_agents_webhook_webhook_url.raw }}",
     "authHeader": "{{ _seerr_cfg_agents_webhook_auth_header.raw }}",
     "jsonPayload": "{{ _seerr_cfg_agents_webhook_json_payload.raw }}"
    }
   },