 "jellyfin": {
  "name": "{{ _seerr_cfg_jellyfin_name.raw }}",
  "ip": "{{ _seerr_cfg_jellyfin_ip.raw }}",
  "port": {{ _seerr_cfg_jellyfin_port.raw }},
  "useSsl": {{ _seerr_cfg_jellyfin_use_ssl.raw | lower }},
  "urlBase": "{{ _seerr_cfg_jellyfin_url_base.raw }}",
  "externalHostname": "{{ _seerr_cfg_jellyfin_external_hostname.raw }}",
  "jellyfinForgotPasswordUrl": "{{ _seerr_cfg_jellyfin_jellyfin_forgot_password_url.raw }}",
{% if _seerr_cfg_jellyfin_libraries.data | length > 0 %}
  "libraries": [
{%   for library in _seerr_cfg_jellyfin_libraries.data %}
    {
     "id": {{ library.id }},
     "name": "{{ library.name }}",
     "enabled": {{ library.enabled | lower }},
     "type": "{{ library.type }}",
     "lastScan": {{ library.last_scan }}
    }{{ ',' if not loop.last else '' }}
{%   endfor %}
  ],
{% else %}
  "libraries": [],
{% endif %}
  "serverId": "{{ _seerr_cfg_jellyfin_server_id.raw }}",
  "apiKey": "{{ _seerr_cfg_jellyfin_api_key.raw }}"
 },