 "plex": {
  "name": "{{ _seerr_cfg_plex_name.raw }}",
  "ip": "{{ _seerr_cfg_plex_ip.raw }}",
  "port": {{ _seerr_cfg_plex_port.raw }},
  "useSsl": {{ _seerr_cfg_plex_use_ssl.raw | lower }},
{% if _seerr_cfg_plex_libraries.data | length > 0 %}
  "libraries": [
{%   for library in _seerr_cfg_plex_libraries.data %}
    {
     "id": {{ library.id }},
     "name": "{{ library.name }}",
     "enabled": {{ library.enabled | lower }},
     "type": "{{ library.type }}",
     "lastScan": {{ library.last_scan }}
    }{{ ',' if not loop.last else '' }}
{%   endfor %}
  ],
{% else %}
  "libraries": [],
{% endif %}
  "webAppUrl": "{{ _seerr_cfg_plex_web_app_url.raw }}",
  "machineId": "{{ _seerr_cfg_plex_machine_id.raw }}"
 },