{% if _seerr_cfg_sonarr.data | length > 0 %}
  "sonarr": [
{%   for server in _seerr_cfg_sonarr.data %}
   {
    "id": {{ server.id }},
    "name": "{{ server.name }}",
    "hostname": "{{ server.hostname }}",
    "port": {{ server.port }},
    "apiKey": "{{ server.api_key }}",
    "useSsl": {{ server.use_ssl | lower }},
    "baseUrl": "{{ server.base_url }}",
    "activeProfileId": {{ server.active_profile_id }},
    "activeProfileName": "{{ server.active_profile_name }}",
    "activeDirectory": "{{ server.active_directory }}",
    "tags": {{ server.tags | to_json }},
    "is4k": {{ server.is_4k | lower }},
    "isDefault": {{ server.is_default | lower }},
    "externalUrl": "{{ server.external_url }}",
    "syncEnabled": {{ server.sync_enabled | lower }},
    "preventSearch": {{ server.prevent_search | lower }},
    "tagRequests": {{ server.tag_requests | lower }},
    "seriesType": "{{ server.series_type }}",
    "animeSeriesType": "{{ server.anime_series_type }}",
    "activeAnimeProfileId": {{ server.active_anime_profile_id }},
    "activeAnimeProfileName": "{{ server.active_anime_profile_name }}",
    "activeAnimeDirectory": "{{ server.active_anime_directory }}",
    "activeAnimeLanguageProfileId": {{ server.active_anime_language_profile_id }},
    "activeLanguageProfileId": {{ server.active_language_profile_id }},
    "animeTags": {{ server.anime_tags | to_json }},
    "enableSeasonFolders": {{ server.enable_season_folders | lower }}
  }{{ ',' if not loop.last else '' }}
{%   endfor %}
  ],
{% else %}
  "sonarr": [],
{% endif %}