{% if _seerr_cfg_tautulli_hostname.raw | length > 0 %}
  "tautulli": {
   "hostname": "{{ _seerr_cfg_tautulli_hostname.raw }}",
   "port": {{ _seerr_cfg_tautulli_port.raw }},
   "useSsl": {{ _seerr_cfg_tautulli_use_ssl.raw }},
   "urlBase": "{{ _seerr_cfg_tautulli_url_base.raw }}",
   "apiKey": "{{ _seerr_cfg_tautulli_api_key.raw }}",
   "externalUrl": "{{ _seerr_cfg_tautulli_external_url.raw }}"
  },
{% else %}
  "tautulli": {},
{% endif %}